
    
     <div class=" exp-cont content">               
                <article class="exp-page">
                    <header class="exp-header">
                        <h1>Experience</h1>
                    </header>
                    <section class="exp-work">
                        <h1 class="exp-work-header">Work</h1>
                        <div class="work-listing">
                            <!--<img class="work-logo-crm" src="/images/crm.png"></img>-->
                            <b>Commercial Risk Management, Inc.</b>
                            <span class="float-right">2013-Present</span>
                            <br>
                            <b>Full-Stack .NET Developer</b>
                            <span class="float-right">Tampa, Florida</span>

                            <h2 class="job-descr-header">Front-End:</h2>
                            <ul>
                                <li><p class="job-descr">Experience designing  user interfaces using Winforms and <b>VB.NET</b> as well as implementing functionality that interacts with the database access layer.</p> </li>
                                <li><p class="job-descr">Main developer tasked with designing and implementing a web application in ASP.NET MVC 4 in conjuction with AngularJS and JQuery that mirrors a sister desktop system.</p> </li>
                            </ul>
                            <ul class="job-tech">
                                <li class="lang-li"><i class="fa fa-3x devicon-css3-plain-wordmark" title="CSS3" style="color:blue;"></i></li>
                                <li class="lang-li"><i class="fa fa-3x devicon-html5-plain-wordmark colored" title="HTML5"></i></li>
                                <li class="lang-li"><i class="fa fa-3x devicon-javascript-plain colored" title="Javascript"></i></li>
                                <li class="lang-li"><i class="fa fa-3x devicon-jquery-plain colored" title="JQuery"></i></li>
                                <li class="lang-li"><i class="fa fa-3x devicon-nodejs-plain colored" title="NodeJS"></i></li>
                                <li class="lang-li"><i class="fa fa-3x devicon-angularjs-plain colored" title="AngularJS"></i></li>
                                <li class="lang-li"><i class="fa fa-3x devicon-dot-net-plain-wordmark colored" title="Dot Net"></i></li>   
                                <li class="lang-li"><i class="fa fa-3x devicon-bootstrap-plain-wordmark colored" title="Bootstrap"></i></li>
                                <li class="lang-li"><i class="fa fa-3x devicon-csharp-plain-wordmark microsoft-icons" title="C-Sharp"></i></li>   
                            </ul>
                        

                             <h2 class="job-descr-header">Back-end</h2>
                            <ul>
                                <li><p class="job-descr">Aided with building a framework project that utilized the ORM tool called <b>Entity Framework</b> in conjuction with <b>LINQ-to-SQL</b> for a database-first, DB access layer.</p></li>
                                <li><p class="job-descr">Constructed <b>T-SQL</b> queries,functions, stored procedures, and tables in a Microsoft SQL Server 2012 Database.</p></li>
                                <li><p class="job-descr">Designed and built custom reporting solutions in  SQL Server Reporting Services(<b>SSRS</b>).</p></li>
                                <li><p class="job-descr">Created custom data import and export ETL packages within the SQL Server Integration Services environment.</p></li>
                                <li><p class="job-descr">Assisted with SQL Server optimization both on the physical server and database levels</p></li>
                                <li><p class="job-descr">Developed libraries in <b>C#</b> to interoperability and modularity between the web and desktop applications.</p></li>
                                <li><p class="job-descr">Involved in the white-box and black-box testing of individual system components. </p></li>

                            </ul>
                             <ul class="job-tech">
                                <li class="lang-li"><i class="fa fa-3x devicon-dot-net-plain-wordmark colored microsoft-icons" title="Dot Net"></i></li>   
                                <li class="lang-li"><i class="fa fa-3x devicon-csharp-plain-wordmark microsoft-icons" title="C-Sharp"></i></li>
                                <li class="lang-li"><img src="images/languages/VB-104.png" style="width:40px; margin-bottom:30px;" alt="Visual Basic" title="Visual Basic"></img></li>
                                <li class="lang-li"><i class="fa fa-3x icon-visual-studio" style="color:purple !important;" title="Visual Studio"></i></li>
                                <li class="lang-li"><i class="fa fa-3x fa-database" title="Database Development"></i></li> 
                            </ul>
                        </div>
                    </section>                
                </article>
            </div>