
         <script> 
               
         </script>
         
         
          <div class="content">
                <article class="home-page">

   <svg version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
	 viewBox="0 0 250 250" enable-background="new 0 0 250 250" xml:space="preserve">
<g id="desk-drawer">
	
		<rect x="181.1" y="151.8" fill="#C2B59B" stroke="#000000" stroke-width="0.15" stroke-miterlimit="10" width="43.2" height="64.6"/>
</g>
<g id="left-leg">
	<rect x="24.5" y="151.8" fill="#C2B59B" stroke="#000000" stroke-width="0.15" stroke-miterlimit="10" width="7.2" height="64.6"/>
</g>
<g id="desk-drawer3">
	<rect x="185.1" y="188.1" fill="#6D6E71" stroke="#000000" stroke-width="0.15" stroke-miterlimit="10" width="35" height="13.1"/>
</g>
<g id="desk-drawer2">
	<rect x="185.1" y="172.2" fill="#6D6E71" stroke="#000000" stroke-width="0.15" stroke-miterlimit="10" width="35" height="13.1"/>
</g>
<g id="desk-drawer1">
	<rect x="185.3" y="156" fill="#6D6E71" stroke="#000000" stroke-width="0.15" stroke-miterlimit="10" width="35" height="13.1"/>
</g>
<g id="desk-handle3">
	<rect x="192.6" y="192.7" fill="#6D6E71" stroke="#000000" stroke-width="0.15" stroke-miterlimit="10" width="20" height="3.9"/>
</g>
<g id="desk-handle2">
	<rect x="192.8" y="176.8" fill="#6D6E71" stroke="#000000" stroke-width="0.15" stroke-miterlimit="10" width="20" height="3.9"/>
</g>
<g id="desk-handle1">
	<rect x="192.8" y="160.5" fill="#6D6E71" stroke="#000000" stroke-width="0.15" stroke-miterlimit="10" width="20" height="3.9"/>
</g>
<g id="monitor-neck">
	<rect x="122.8" y="132.2" stroke="#010101" stroke-width="0.15" stroke-miterlimit="10" width="4.4" height="9.5"/>
</g>
<g id="monitor-outer">
	
		<rect x="97.5" y="105" stroke="#010101" stroke-width="0.15" stroke-miterlimit="10" width="55" height="27.2"/>
</g>
<g id="monitor-background">
	<rect x="98.5" y="106.1" fill="#66CBE4" stroke="#010101" stroke-width="0.15" stroke-miterlimit="10" width="53" height="25"/>
</g>

<g id="bottom-left-window">
	<rect x="100.6" y="120.4" fill="#2B8EF7" stroke="#010101" stroke-width="0.15" stroke-miterlimit="10" width="18.7" height="8"/>
	<rect x="100.6" y="119.4" fill="#1C75BC" stroke="#010101" stroke-width="0.15" stroke-miterlimit="10" width="18.6" height="1"/>
</g>
<g id="big-window">
	<rect x="121.5" y="108" fill="#1C75BC" stroke="#010101" stroke-width="0.15" stroke-miterlimit="10" width="28.3" height="1"/>
	
		<rect x="121.5" y="108.9" fill="#E4EDB2" stroke="#010101" stroke-width="0.15" stroke-miterlimit="10" width="28.3" height="19.4"/>
</g>
<g id="top-left-window">
	<rect x="100.7" y="108" fill="#1C75BC" stroke="#010101" stroke-width="0.15" stroke-miterlimit="10" width="18.6" height="1"/>
	<rect x="100.6" y="109" fill="#44F675" stroke="#010101" stroke-width="0.15" stroke-miterlimit="10" width="18.6" height="9.4"/>
</g>

<g id="keyboard">
	<rect x="98.5" y="143" stroke="#010101" stroke-width="0.15" stroke-miterlimit="10" width="53" height="1.5"/>
</g>
<g id="keys">
<g id="key18">
	<rect x="148.8" y="141.7" fill="#E6E7E8" stroke="#010101" stroke-width="0.15" stroke-miterlimit="10" width="1.8" height="1.3"/>
</g>
<g id="key17">
	<rect x="146" y="141.7" fill="#E6E7E8" stroke="#010101" stroke-width="0.15" stroke-miterlimit="10" width="1.8" height="1.3"/>
</g>
<g id="key16">
	<rect x="143.2" y="141.7" fill="#E6E7E8" stroke="#010101" stroke-width="0.15" stroke-miterlimit="10" width="1.8" height="1.3"/>
</g>
<g id="key15">
	<rect x="140.5" y="141.7" fill="#E6E7E8" stroke="#010101" stroke-width="0.15" stroke-miterlimit="10" width="1.8" height="1.3"/>
</g>
<g id="key14">
	<rect x="137.6" y="141.7" fill="#E6E7E8" stroke="#010101" stroke-width="0.15" stroke-miterlimit="10" width="1.8" height="1.3"/>
</g>
<g id="key13">
	<rect x="134.7" y="141.7" fill="#E6E7E8" stroke="#010101" stroke-width="0.15" stroke-miterlimit="10" width="1.8" height="1.3"/>
</g>
<g id="key12">
	<rect x="131.7" y="141.7" fill="#E6E7E8" stroke="#010101" stroke-width="0.15" stroke-miterlimit="10" width="1.8" height="1.3"/>
</g>
<g id="key11">
	<rect x="128.7" y="141.7" fill="#E6E7E8" stroke="#010101" stroke-width="0.15" stroke-miterlimit="10" width="1.8" height="1.3"/>
</g>
<g id="key10">
	<rect x="125.7" y="141.7" fill="#E6E7E8" stroke="#010101" stroke-width="0.15" stroke-miterlimit="10" width="1.8" height="1.3"/>
</g>
<g id="key9">
	<rect x="122.8" y="141.7" fill="#E6E7E8" stroke="#010101" stroke-width="0.15" stroke-miterlimit="10" width="1.8" height="1.3"/>
</g>
<g id="key8">
	<rect x="119.9" y="141.7" fill="#E6E7E8" stroke="#010101" stroke-width="0.15" stroke-miterlimit="10" width="1.8" height="1.3"/>
</g>
<g id="key7">
	<rect x="116.9" y="141.7" fill="#E6E7E8" stroke="#010101" stroke-width="0.15" stroke-miterlimit="10" width="1.8" height="1.3"/>
</g>
<g id="key6">
	<rect x="113.9" y="141.7" fill="#E6E7E8" stroke="#010101" stroke-width="0.15" stroke-miterlimit="10" width="1.8" height="1.3"/>
</g>
<g id="key5">
	<rect x="111" y="141.7" fill="#E6E7E8" stroke="#010101" stroke-width="0.15" stroke-miterlimit="10" width="1.8" height="1.3"/>
</g>
<g id="key4">
	<rect x="108" y="141.7" fill="#E6E7E8" stroke="#010101" stroke-width="0.15" stroke-miterlimit="10" width="1.8" height="1.3"/>
</g>
<g id="key3">
	<rect x="105" y="141.7" fill="#E6E7E8" stroke="#010101" stroke-width="0.15" stroke-miterlimit="10" width="1.8" height="1.3"/>
</g>
<g id="key2">
	<rect x="102.2" y="141.7" fill="#E6E7E8" stroke="#010101" stroke-width="0.15" stroke-miterlimit="10" width="1.8" height="1.3"/>
</g>
<g id="key1">
	<rect x="99.4" y="141.7" fill="#E6E7E8" stroke="#010101" stroke-width="0.15" stroke-miterlimit="10" width="1.8" height="1.3"/>
</g>
</g>
<g id="mouse">
	<path fill="#FFFFFF" stroke="#010101" stroke-width="0.15" stroke-miterlimit="10" d="M163,144.5h-4.4c-0.6,0-1.1-0.5-1.1-1.1v-0.2
		c0-0.6,0.5-1.1,1.1-1.1h4.4c0.6,0,1.1,0.5,1.1,1.1v0.2C164.1,144,163.6,144.5,163,144.5z"/>
</g>
<g id="desktop">
	
		<rect x="14" y="144.5" fill="#C2B59B" stroke="#000000" stroke-width="0.15" stroke-miterlimit="10" width="222" height="7.2"/>
</g>
<g id="right-speaker">
	<path fill="#D1D3D4" stroke="#010101" stroke-width="0.15" stroke-miterlimit="10" d="M178.9,144.5h-7.8c-0.4,0-0.8-0.3-0.8-0.8
		l0,0c0-0.4,0.3-0.8,0.8-0.8h7.8c0.4,0,0.8,0.3,0.8,0.8l0,0C179.7,144.2,179.3,144.5,178.9,144.5z"/>
	<rect x="174.2" y="138.9" fill="#D1D3D4" stroke="#010101" stroke-width="0.15" stroke-miterlimit="10" width="1.6" height="4.1"/>
	<path stroke="#010101" stroke-width="0.15" stroke-miterlimit="10" d="M176.7,138.9h-3.4c-1.3,0-2.3-1-2.3-2.3v-9.4
		c0-1.3,1-2.3,2.3-2.3h3.4c1.3,0,2.3,1,2.3,2.3v9.4C179,137.9,178,138.9,176.7,138.9z"/>
	<circle fill="#A7A9AC" stroke="#010101" stroke-width="0.15" stroke-miterlimit="10" cx="175.1" cy="128.5" r="2.5"/>
	<circle fill="#A7A9AC" stroke="#010101" stroke-width="0.15" stroke-miterlimit="10" cx="175" cy="135" r="2.5"/>
	<circle stroke="#010101" stroke-width="0.15" stroke-miterlimit="10" cx="175.1" cy="128.5" r="1.3"/>
	<circle stroke="#010101" stroke-width="0.15" stroke-miterlimit="10" cx="175" cy="135" r="1.3"/>
</g>
<g id="cup">
	<g id="cup-top">
		<rect x="57.7" y="136.6" fill="#2B3990" stroke="#010101" stroke-width="0.15" stroke-miterlimit="10" width="7.9" height="0.8"/>
	</g>
	<g id="cup-bottom">
		<polygon fill="#FFFFFF" stroke="#010101" stroke-width="0.15" stroke-miterlimit="10" points="58.2,137.4 65.1,137.4 64,144.5 
			59.3,144.5 		"/>
	</g>
</g>
<g id="left-speaker">
	<path id="left-speaker-base" fill="#D1D3D4" stroke="#010101" stroke-width="0.15" stroke-miterlimit="10" d="M81.6,144.5h-7.8
		c-0.4,0-0.8-0.3-0.8-0.8l0,0c0-0.4,0.3-0.8,0.8-0.8h7.8c0.4,0,0.8,0.3,0.8,0.8l0,0C82.3,144.2,82,144.5,81.6,144.5z"/>
	
		<rect id="left-speaker-stand" x="76.9" y="138.9" fill="#D1D3D4" stroke="#010101" stroke-width="0.15" stroke-miterlimit="10" width="1.6" height="4.1"/>
	<path id="left-speaker-main" stroke="#010101" stroke-width="0.15" stroke-miterlimit="10" d="M79.3,138.9H76c-1.3,0-2.3-1-2.3-2.3
		v-9.4c0-1.3,1-2.3,2.3-2.3h3.4c1.3,0,2.3,1,2.3,2.3v9.4C81.7,137.9,80.6,138.9,79.3,138.9z"/>
	
		<circle id="left-speaker-top-outer" fill="#A7A9AC" stroke="#010101" stroke-width="0.15" stroke-miterlimit="10" cx="77.8" cy="128.5" r="2.5"/>
	
		<circle id="left-speaker-bot-outer" fill="#A7A9AC" stroke="#010101" stroke-width="0.15" stroke-miterlimit="10" cx="77.7" cy="135" r="2.5"/>
	<circle id="left-speaker-top-inner" stroke="#010101" stroke-width="0.15" stroke-miterlimit="10" cx="77.8" cy="128.5" r="1.3"/>
	<circle id="left-speaker-bot-inner" stroke="#010101" stroke-width="0.15" stroke-miterlimit="10" cx="77.7" cy="135" r="1.3"/>
</g>
</svg>

<!--<svg version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
	 viewBox="0 0 250 250" enable-background="new 0 0 250 250" xml:space="preserve">
<g id="monitor-neck">
	<rect x="119.9" y="91.2" fill="none" stroke="#000000" stroke-width="0.25" stroke-miterlimit="10" width="10" height="12.5"/>
</g>
<g id="left-left-R">
	<polyline fill="none" stroke="#000000" stroke-width="0.25" stroke-miterlimit="10" points="23.7,116.9 23.7,191.2 19.3,191.2 	"/>
</g>
<g id="left-leg-L">
	<polyline fill="none" stroke="#000000" stroke-width="0.25" stroke-miterlimit="10" points="15,116.9 15,191.2 19.3,191.2 	"/>
</g>
<g id="desk-drawer-outer-left">
	<polyline fill="none" stroke="#000000" stroke-width="0.25" stroke-miterlimit="10" points="186.2,116.9 186.2,191.9 210.9,191.9 	
		"/>
</g>
<g id="desk-drawer-outer-right">
	<polyline fill="none" stroke="#000000" stroke-width="0.25" stroke-miterlimit="10" points="236,116.9 236,191.9 210.9,191.9 	"/>
</g>
<g id="desk-drawer1">
	<rect class="drawer" x="190.9" y="119.6" fill="none" stroke="#000000" stroke-width="0.25" stroke-miterlimit="10" width="39.9" height="13.2"/>
</g>
<g id="desk-drawer2">
	<rect class="drawer" x="190.9" y="137.1" fill="none" stroke="#000000" stroke-width="0.25" stroke-miterlimit="10" width="39.9" height="13.2"/>
</g>
<g id="desk-drawer3">
	<rect class="drawer" x="191.2" y="154" fill="none" stroke="#000000" stroke-width="0.25" stroke-miterlimit="10" width="39.9" height="13.2"/>
</g>
<g id="desk-handle1">
	<rect  class="handle1" x="200.6" y="124.6" fill="none" stroke="#000000" stroke-width="0.25" stroke-miterlimit="10" width="20.7" height="3.2"/>
</g>
<g id="desk-handle2">
	<rect  class="handle2" x="200.6" y="142.1" fill="none" stroke="#000000" stroke-width="0.25" stroke-miterlimit="10" width="20.7" height="3.2"/>
</g>
<g id="desk-handle3">
	<rect   class="handle3"x="200.6" y="159" fill="none" stroke="#000000" stroke-width="0.25" stroke-miterlimit="10" width="20.7" height="3.2"/>
</g>
<g id="desktop-bot-left">
	<polyline fill="none" stroke="#000000" stroke-width="0.25" stroke-miterlimit="10" points="124.9,116.9 0.2,116.9 0.2,113 	"/>
</g>
<g id="desktop-top-left">
	<polyline fill="none" stroke="#000000" stroke-width="0.25" stroke-miterlimit="10" points="124.9,109.2 0.2,109.2 0.2,113 	"/>
</g>
<g id="desktop-top-right">
	<polyline fill="none" stroke="#000000" stroke-width="0.25" stroke-miterlimit="10" points="124.9,109.2 250,109.2 250,113 	"/>
</g>
<g id="desktop-bot-right">
	<polyline fill="none" stroke="#000000" stroke-width="0.25" stroke-miterlimit="10" points="124.9,116.9 250,116.9 250,113 	"/>
</g>
<g id="mouse">
	<polygon fill="none" stroke="#000000" stroke-width="0.25" stroke-miterlimit="10" points="168.3,109.2 164.8,109.2 163,108.1 
		164.8,106.9 168.3,106.9 170,108 	"/>
</g>
<g id="leftspeaker">
	<rect x="62.5" y="107.7" fill="none" stroke="#000000" stroke-width="0.25" stroke-miterlimit="10" width="9.3" height="1.5"/>
	<rect x="65.9" y="102.6" fill="none" stroke="#000000" stroke-width="0.25" stroke-miterlimit="10" width="2.5" height="5"/>
	<rect x="62.1" y="88.4" fill="none" stroke="#000000" stroke-width="0.25" stroke-miterlimit="10" width="10.1" height="14.2"/>
	<circle class="outer-sp-cir"  fill="none" stroke="#000000" stroke-width="0.25" stroke-miterlimit="10" cx="67.2" cy="92.2" r="2.5"/>
	<circle class="outer-sp-cir" fill="none" stroke="#000000" stroke-width="0.25" stroke-miterlimit="10" cx="67.2" cy="99.1" r="2.5"/>
	<circle class="inner-sp-cir" fill="none" stroke="#000000" stroke-width="0.25" stroke-miterlimit="10" cx="67.2" cy="92.2" r="1.3"/>
	<circle class="inner-sp-cir" fill="none" stroke="#000000" stroke-width="0.25" stroke-miterlimit="10" cx="67.2" cy="99.1" r="1.3"/>
</g>
<g id="rightspeaker">
	<rect x="178.9" y="107.7" fill="none" stroke="#000000" stroke-width="0.25" stroke-miterlimit="10" width="9.3" height="1.5"/>
	<rect x="182.4" y="102.6" fill="none" stroke="#000000" stroke-width="0.25" stroke-miterlimit="10" width="2.5" height="5"/>
	<rect x="178.6" y="88.4" fill="none" stroke="#000000" stroke-width="0.25" stroke-miterlimit="10" width="10.1" height="14.2"/>
	<circle class="outer-sp-cir" fill="none" stroke="#000000" stroke-width="0.25" stroke-miterlimit="10" cx="183.6" cy="92.2" r="2.5"/>
	<circle class="outer-sp-cir" fill="none" stroke="#000000" stroke-width="0.25" stroke-miterlimit="10" cx="183.6" cy="99.1" r="2.5"/>
	<circle class="inner-sp-cir" fill="none" stroke="#000000" stroke-width="0.25" stroke-miterlimit="10" cx="183.6" cy="92.2" r="1.3"/>
	<circle class="inner-sp-cir" fill="none" stroke="#000000" stroke-width="0.25" stroke-miterlimit="10" cx="183.6" cy="99.1" r="1.3"/>
</g>
<g id="cup-top">
	<rect  x="36.9" y="97.7" fill="none" stroke="#000000" stroke-width="0.25" stroke-miterlimit="10" width="10.7" height="1.2"/>
</g>
<g id="cup-bottom">
	<polygon fill="none" stroke="#000000" stroke-width="0.25" stroke-miterlimit="10" points="37.6,99 46.9,99 45.4,109.2 39.1,109.2 
			"/>
</g>
<g id="keyboard">
	<rect x="92.2" y="105.7" fill="none" stroke="#000000" stroke-width="0.25" stroke-miterlimit="10" width="65.6" height="3.5"/>
</g>
<g id="key1">
	<rect class="keys" x="93.5" y="103.7" fill="none" stroke="#000000" stroke-width="0.25" stroke-miterlimit="10" width="3.5" height="2"/>
</g>
<g id="key2">
	<rect class="keys" x="98.5" y="103.7" fill="none" stroke="#000000" stroke-width="0.25" stroke-miterlimit="10" width="3.5" height="2"/>
</g>
<g id="key3">
	<rect class="keys" x="103.2" y="103.7" fill="none" stroke="#000000" stroke-width="0.25" stroke-miterlimit="10" width="3.5" height="2"/>
</g>
<g id="key4">
	<rect class="keys" x="107.9" y="103.7" fill="none" stroke="#000000" stroke-width="0.25" stroke-miterlimit="10" width="3.5" height="2"/>
</g>
<g id="key5">
	<rect class="keys" x="112.9" y="103.7" fill="none" stroke="#000000" stroke-width="0.25" stroke-miterlimit="10" width="3.5" height="2"/>
</g>
<g id="key6">
	<rect class="keys" x="117.6" y="103.7" fill="none" stroke="#000000" stroke-width="0.25" stroke-miterlimit="10" width="3.5" height="2"/>
</g>
<g id="key7">
	<rect class="keys" x="122.4" y="103.7" fill="none" stroke="#000000" stroke-width="0.25" stroke-miterlimit="10" width="3.5" height="2"/>
</g>
<g id="key8">
	<rect class="keys" x="127.6" y="103.7" fill="none" stroke="#000000" stroke-width="0.25" stroke-miterlimit="10" width="3.5" height="2"/>
</g>
<g id="key9">
	<rect class="keys" x="132.9" y="103.7" fill="none" stroke="#000000" stroke-width="0.25" stroke-miterlimit="10" width="3.5" height="2"/>
</g>
<g id="key10">
	<rect class="keys" x="138.1" y="103.7" fill="none" stroke="#000000" stroke-width="0.25" stroke-miterlimit="10" width="3.5" height="2"/>
</g>
<g id="key11">
	<rect class="keys" x="143.1" y="103.7" fill="none" stroke="#000000" stroke-width="0.25" stroke-miterlimit="10" width="3.5" height="2"/>
</g>
<g id="key12">
	<rect class="keys" x="148.1" y="103.7" fill="none" stroke="#000000" stroke-width="0.25" stroke-miterlimit="10" width="3.5" height="2"/>
</g>
<g id="key13">
	<rect class="keys" x="153" y="103.7" fill="none" stroke="#000000" stroke-width="0.25" stroke-miterlimit="10" width="3.5" height="2"/>
</g>
<g id="monitor-outer">
	<polygon fill="none" stroke="#000000" stroke-width="0.25" stroke-miterlimit="10" points="119.9,91.2 91.2,91.2 91.2,58.1 
		158.8,58.1 158.8,91.2 129.9,91.2 	"/>
</g>
<g id="monitor-inner">
	<rect x="92.5" y="59.3" fill="none" stroke="#000000" stroke-width="0.25" stroke-miterlimit="10" width="65.1" height="30.4"/>
</g>
<g id="titlebar1">
	<polygon class="titlebars" fill="none" stroke="#000000" stroke-width="0.25" stroke-miterlimit="10" points="95.2,62.1 120.6,62.1 120.6,63.1 
		95.2,63.1 	"/>
</g>
<g id="titlebar2">
	<polygon class="titlebars" fill="none" stroke="#000000" stroke-width="0.25" stroke-miterlimit="10" points="122.4,61.8 154.8,61.8 154.8,63.1 
		122.4,63.1 	"/>
</g>
<g id="titlebar3">
	<rect class="titlebars" x="95.2" y="78.8" fill="none" stroke="#000000" stroke-width="0.25" stroke-miterlimit="10" width="25.4" height="1"/>
</g>
<g id="window1">
	<polygon class="windows" fill="none" stroke="#000000" stroke-width="0.25" stroke-miterlimit="10" points="95.2,63.1 120.6,63.1 120.6,73.3 
		95.2,73.3 	"/>
</g>
<g id="window2">
	<rect  class="windows"x="122.4" y="63.1" fill="none" stroke="#000000" stroke-width="0.25" stroke-miterlimit="10" width="32.4" height="25.2"/>
</g>
<g id="window3">
	<rect class="windows" x="95.2" y="79.8" fill="none" stroke="#000000" stroke-width="0.25" stroke-miterlimit="10" width="25.4" height="8.5"/>
</g>
</svg>-->


                    <!--<img class="header-img" src="/images/pc.svg"></img>-->
                     <section class="profile-desc" >
                         <div class="profile">
                            <h1>Full-Stack Developer</h1>
                            <!--<h2>Full-Stack Developer</h2>-->
                         </div>
                    </section>
                    <section class="desc">
                        <p>My name is Matthieu Leonard. I am a self-taught software developer from USA, Florida who enjoys software development/programming
                            and strives to learn more and improve. I work in all aspects of development from front-end with ASP.NET MVC, <a href="https://angularjs.org">AngularJS</a>
                                    , HTML5, and CSS3 to back-end with popular languages and technologies like C#, VB.NET, Entity Framework, MSSQL Server.</p>

                        <p>If you want to know more about me, browse on to <a href="#experience">Experience</a>        </p>
                    </section>
                </article>
                <article class="art-social">
                    <section class="sec-social">
                        <ul class="social">
                            <li class="social-li">
                                <div class="social-desc">
                                    <section>
                                        <a class="social-a" href="mailto:leon09jleo@gmail.com">
                                            <i class="social-i fa fa-4x fa-envelope" style="color:black;" aria-hidden="true"></i>
                                        </a>

                                    </section>
                                    <span style="color:black;" >Email</span>
                                </div>
                            </li>
                            <li class="social-li">
                                <div class="social-desc">
                                    <section>
                                        <a class="social-a" href="https://www.linkedin.com/in/matthieu-leonard-9196ab5b?trk=nav_responsive_tab_profile">
                                            <i class="fa fa-4x fa-linkedin" style="color:blue; " aria-hidden="true"></i>
                                        </a>
                                    </section>
                                    <span style="color:blue; ">LinkedIn</span>
                                </div>
                            </li>
                            <li class="social-li">
                                <div class="social-desc">
                                    <section>
                                        <a class="social-a" href="skype:mattleon09?add">
                                            <i class="fa fa-4x fa-skype" style="color:#20D5EA;" aria-hidden="true"></i>
                                        </a>
                                    </section>
                                    <span style="color:#20D5EA;">Skype</span>
                                </div>
                            </li>
                            <li class="social-li">
                                <div class="social-desc">
                                    <section>
                                        <a class="social-a" href="https://www.reddit.com/user/redx350/">
                                            <i class="fa fa-4x fa-reddit" style="color:#D13F31;" aria-hidden="true"></i>
                                        </a>
                                    </section>
                                    <span  style="color:#D13F31;">Reddit</span>
                                </div>
                            </li>

                        </ul>
                    </section>
                </article>
            </div>