
         <script> 
               
         </script>
         
         
          <div class="content">
                <article class="home-page">
<svg version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
	 viewBox="0 0 250 250" enable-background="new 0 0 250 250" xml:space="preserve">
<g id="monitor-neck">
	<rect x="119.9" y="91.2" fill="none" stroke="#000000" stroke-width="0.25" stroke-miterlimit="10" width="10" height="12.5"/>
</g>
<g id="left-left-R">
	<polyline fill="none" stroke="#000000" stroke-width="0.25" stroke-miterlimit="10" points="23.7,116.9 23.7,191.2 19.3,191.2 	"/>
</g>
<g id="left-leg-L">
	<polyline fill="none" stroke="#000000" stroke-width="0.25" stroke-miterlimit="10" points="15,116.9 15,191.2 19.3,191.2 	"/>
</g>
<g id="desk-drawer-outer-left">
	<polyline fill="none" stroke="#000000" stroke-width="0.25" stroke-miterlimit="10" points="186.2,116.9 186.2,191.9 210.9,191.9 	
		"/>
</g>
<g id="desk-drawer-outer-right">
	<polyline fill="none" stroke="#000000" stroke-width="0.25" stroke-miterlimit="10" points="236,116.9 236,191.9 210.9,191.9 	"/>
</g>
<g id="desk-drawer1">
	<rect class="drawer" x="190.9" y="119.6" fill="none" stroke="#000000" stroke-width="0.25" stroke-miterlimit="10" width="39.9" height="13.2"/>
</g>
<g id="desk-drawer2">
	<rect class="drawer" x="190.9" y="137.1" fill="none" stroke="#000000" stroke-width="0.25" stroke-miterlimit="10" width="39.9" height="13.2"/>
</g>
<g id="desk-drawer3">
	<rect class="drawer" x="191.2" y="154" fill="none" stroke="#000000" stroke-width="0.25" stroke-miterlimit="10" width="39.9" height="13.2"/>
</g>
<g id="desk-handle1">
	<rect  class="handle1" x="200.6" y="124.6" fill="none" stroke="#000000" stroke-width="0.25" stroke-miterlimit="10" width="20.7" height="3.2"/>
</g>
<g id="desk-handle2">
	<rect  class="handle2" x="200.6" y="142.1" fill="none" stroke="#000000" stroke-width="0.25" stroke-miterlimit="10" width="20.7" height="3.2"/>
</g>
<g id="desk-handle3">
	<rect   class="handle3"x="200.6" y="159" fill="none" stroke="#000000" stroke-width="0.25" stroke-miterlimit="10" width="20.7" height="3.2"/>
</g>
<g id="desktop-bot-left">
	<polyline fill="none" stroke="#000000" stroke-width="0.25" stroke-miterlimit="10" points="124.9,116.9 0.2,116.9 0.2,113 	"/>
</g>
<g id="desktop-top-left">
	<polyline fill="none" stroke="#000000" stroke-width="0.25" stroke-miterlimit="10" points="124.9,109.2 0.2,109.2 0.2,113 	"/>
</g>
<g id="desktop-top-right">
	<polyline fill="none" stroke="#000000" stroke-width="0.25" stroke-miterlimit="10" points="124.9,109.2 250,109.2 250,113 	"/>
</g>
<g id="desktop-bot-right">
	<polyline fill="none" stroke="#000000" stroke-width="0.25" stroke-miterlimit="10" points="124.9,116.9 250,116.9 250,113 	"/>
</g>
<g id="mouse">
	<polygon fill="none" stroke="#000000" stroke-width="0.25" stroke-miterlimit="10" points="168.3,109.2 164.8,109.2 163,108.1 
		164.8,106.9 168.3,106.9 170,108 	"/>
</g>
<g id="leftspeaker">
	<rect x="62.5" y="107.7" fill="none" stroke="#000000" stroke-width="0.25" stroke-miterlimit="10" width="9.3" height="1.5"/>
	<rect x="65.9" y="102.6" fill="none" stroke="#000000" stroke-width="0.25" stroke-miterlimit="10" width="2.5" height="5"/>
	<rect x="62.1" y="88.4" fill="none" stroke="#000000" stroke-width="0.25" stroke-miterlimit="10" width="10.1" height="14.2"/>
	<circle class="outer-sp-cir"  fill="none" stroke="#000000" stroke-width="0.25" stroke-miterlimit="10" cx="67.2" cy="92.2" r="2.5"/>
	<circle class="outer-sp-cir" fill="none" stroke="#000000" stroke-width="0.25" stroke-miterlimit="10" cx="67.2" cy="99.1" r="2.5"/>
	<circle class="inner-sp-cir" fill="none" stroke="#000000" stroke-width="0.25" stroke-miterlimit="10" cx="67.2" cy="92.2" r="1.3"/>
	<circle class="inner-sp-cir" fill="none" stroke="#000000" stroke-width="0.25" stroke-miterlimit="10" cx="67.2" cy="99.1" r="1.3"/>
</g>
<g id="rightspeaker">
	<rect x="178.9" y="107.7" fill="none" stroke="#000000" stroke-width="0.25" stroke-miterlimit="10" width="9.3" height="1.5"/>
	<rect x="182.4" y="102.6" fill="none" stroke="#000000" stroke-width="0.25" stroke-miterlimit="10" width="2.5" height="5"/>
	<rect x="178.6" y="88.4" fill="none" stroke="#000000" stroke-width="0.25" stroke-miterlimit="10" width="10.1" height="14.2"/>
	<circle class="outer-sp-cir" fill="none" stroke="#000000" stroke-width="0.25" stroke-miterlimit="10" cx="183.6" cy="92.2" r="2.5"/>
	<circle class="outer-sp-cir" fill="none" stroke="#000000" stroke-width="0.25" stroke-miterlimit="10" cx="183.6" cy="99.1" r="2.5"/>
	<circle class="inner-sp-cir" fill="none" stroke="#000000" stroke-width="0.25" stroke-miterlimit="10" cx="183.6" cy="92.2" r="1.3"/>
	<circle class="inner-sp-cir" fill="none" stroke="#000000" stroke-width="0.25" stroke-miterlimit="10" cx="183.6" cy="99.1" r="1.3"/>
</g>
<g id="cup-top">
	<rect  x="36.9" y="97.7" fill="none" stroke="#000000" stroke-width="0.25" stroke-miterlimit="10" width="10.7" height="1.2"/>
</g>
<g id="cup-bottom">
	<polygon fill="none" stroke="#000000" stroke-width="0.25" stroke-miterlimit="10" points="37.6,99 46.9,99 45.4,109.2 39.1,109.2 
			"/>
</g>
<g id="keyboard">
	<rect x="92.2" y="105.7" fill="none" stroke="#000000" stroke-width="0.25" stroke-miterlimit="10" width="65.6" height="3.5"/>
</g>
<g id="key1">
	<rect class="keys" x="93.5" y="103.7" fill="none" stroke="#000000" stroke-width="0.25" stroke-miterlimit="10" width="3.5" height="2"/>
</g>
<g id="key2">
	<rect class="keys" x="98.5" y="103.7" fill="none" stroke="#000000" stroke-width="0.25" stroke-miterlimit="10" width="3.5" height="2"/>
</g>
<g id="key3">
	<rect class="keys" x="103.2" y="103.7" fill="none" stroke="#000000" stroke-width="0.25" stroke-miterlimit="10" width="3.5" height="2"/>
</g>
<g id="key4">
	<rect class="keys" x="107.9" y="103.7" fill="none" stroke="#000000" stroke-width="0.25" stroke-miterlimit="10" width="3.5" height="2"/>
</g>
<g id="key5">
	<rect class="keys" x="112.9" y="103.7" fill="none" stroke="#000000" stroke-width="0.25" stroke-miterlimit="10" width="3.5" height="2"/>
</g>
<g id="key6">
	<rect class="keys" x="117.6" y="103.7" fill="none" stroke="#000000" stroke-width="0.25" stroke-miterlimit="10" width="3.5" height="2"/>
</g>
<g id="key7">
	<rect class="keys" x="122.4" y="103.7" fill="none" stroke="#000000" stroke-width="0.25" stroke-miterlimit="10" width="3.5" height="2"/>
</g>
<g id="key8">
	<rect class="keys" x="127.6" y="103.7" fill="none" stroke="#000000" stroke-width="0.25" stroke-miterlimit="10" width="3.5" height="2"/>
</g>
<g id="key9">
	<rect class="keys" x="132.9" y="103.7" fill="none" stroke="#000000" stroke-width="0.25" stroke-miterlimit="10" width="3.5" height="2"/>
</g>
<g id="key10">
	<rect class="keys" x="138.1" y="103.7" fill="none" stroke="#000000" stroke-width="0.25" stroke-miterlimit="10" width="3.5" height="2"/>
</g>
<g id="key11">
	<rect class="keys" x="143.1" y="103.7" fill="none" stroke="#000000" stroke-width="0.25" stroke-miterlimit="10" width="3.5" height="2"/>
</g>
<g id="key12">
	<rect class="keys" x="148.1" y="103.7" fill="none" stroke="#000000" stroke-width="0.25" stroke-miterlimit="10" width="3.5" height="2"/>
</g>
<g id="key13">
	<rect class="keys" x="153" y="103.7" fill="none" stroke="#000000" stroke-width="0.25" stroke-miterlimit="10" width="3.5" height="2"/>
</g>
<g id="monitor-outer">
	<polygon fill="none" stroke="#000000" stroke-width="0.25" stroke-miterlimit="10" points="119.9,91.2 91.2,91.2 91.2,58.1 
		158.8,58.1 158.8,91.2 129.9,91.2 	"/>
</g>
<g id="monitor-inner">
	<rect x="92.5" y="59.3" fill="none" stroke="#000000" stroke-width="0.25" stroke-miterlimit="10" width="65.1" height="30.4"/>
</g>
<g id="titlebar1">
	<polygon class="titlebars" fill="none" stroke="#000000" stroke-width="0.25" stroke-miterlimit="10" points="95.2,62.1 120.6,62.1 120.6,63.1 
		95.2,63.1 	"/>
</g>
<g id="titlebar2">
	<polygon class="titlebars" fill="none" stroke="#000000" stroke-width="0.25" stroke-miterlimit="10" points="122.4,61.8 154.8,61.8 154.8,63.1 
		122.4,63.1 	"/>
</g>
<g id="titlebar3">
	<rect class="titlebars" x="95.2" y="78.8" fill="none" stroke="#000000" stroke-width="0.25" stroke-miterlimit="10" width="25.4" height="1"/>
</g>
<g id="window1">
	<polygon class="windows" fill="none" stroke="#000000" stroke-width="0.25" stroke-miterlimit="10" points="95.2,63.1 120.6,63.1 120.6,73.3 
		95.2,73.3 	"/>
</g>
<g id="window2">
	<rect  class="windows"x="122.4" y="63.1" fill="none" stroke="#000000" stroke-width="0.25" stroke-miterlimit="10" width="32.4" height="25.2"/>
</g>
<g id="window3">
	<rect class="windows" x="95.2" y="79.8" fill="none" stroke="#000000" stroke-width="0.25" stroke-miterlimit="10" width="25.4" height="8.5"/>
</g>
</svg>


                    <!--<img class="header-img" src="/images/pc.svg"></img>-->
                     <section class="profile-desc" >
                         <div class="profile">
                            <h1>Full-Stack Developer</h1>
                            <!--<h2>Full-Stack Developer</h2>-->
                         </div>
                    </section>
                    <section class="desc">
                        <p>My name is Matthieu Leonard. I am a self-taught software developer from USA, Florida who enjoys software development/programming
                            and strives to learn more and improve. I work in all aspects of development from front-end with ASP.NET MVC, <a href="https://angularjs.org">AngularJS</a>
                                    , HTML5, and CSS3 to back-end with popular languages and technologies like C#, VB.NET, Entity Framework, MSSQL Server.</p>

                        <p>If you want to know more about me, browse on to <a href="#experience">Experience</a>        </p>
                    </section>
                </article>
                <article class="art-social">
                    <section class="sec-social">
                        <ul class="social">
                            <li class="social-li">
                                <div class="social-desc">
                                    <section>
                                        <a class="social-a" href="mailto:leon09jleo@gmail.com">
                                            <i class="social-i fa fa-4x fa-envelope" style="color:black;" aria-hidden="true"></i>
                                        </a>

                                    </section>
                                    <span style="color:black;" >Email</span>
                                </div>
                            </li>
                            <li class="social-li">
                                <div class="social-desc">
                                    <section>
                                        <a class="social-a" href="https://www.linkedin.com/in/matthieu-leonard-9196ab5b?trk=nav_responsive_tab_profile">
                                            <i class="fa fa-4x fa-linkedin" style="color:blue; " aria-hidden="true"></i>
                                        </a>
                                    </section>
                                    <span style="color:blue; ">LinkedIn</span>
                                </div>
                            </li>
                            <li class="social-li">
                                <div class="social-desc">
                                    <section>
                                        <a class="social-a" href="skype:mattleon09?add">
                                            <i class="fa fa-4x fa-skype" style="color:#20D5EA;" aria-hidden="true"></i>
                                        </a>
                                    </section>
                                    <span style="color:#20D5EA;">Skype</span>
                                </div>
                            </li>
                            <li class="social-li">
                                <div class="social-desc">
                                    <section>
                                        <a class="social-a" href="https://www.reddit.com/user/redx350/">
                                            <i class="fa fa-4x fa-reddit" style="color:#D13F31;" aria-hidden="true"></i>
                                        </a>
                                    </section>
                                    <span  style="color:#D13F31;">Reddit</span>
                                </div>
                            </li>

                        </ul>
                    </section>
                </article>
            </div>